In [1]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np

In [2]:
df = DataFrame({'Age':[42,42,42,27,38,30,50,50,158,47,36,38,38,6,6],
              'Areas':['A','A','A','C','A','D','B','B','D','D','B','C','C','A','A'],
              'ID':[1,1,1,2,3,4,5,5,6,7,8,9,9,10,10],
              'Package':[0.8,0.8,0.8,-9.0,1.0,0.2,-9.0,-9.0,0.5,1.0,-9.0,1.5,1.5,1.0,1.0],
              'SHabit':[1,1,1,4,4,1,1,1,1,3,4,2,2,2,2]})
print(df)

    Age Areas  ID  Package  SHabit
0    42     A   1      0.8       1
1    42     A   1      0.8       1
2    42     A   1      0.8       1
3    27     C   2     -9.0       4
4    38     A   3      1.0       4
5    30     D   4      0.2       1
6    50     B   5     -9.0       1
7    50     B   5     -9.0       1
8   158     D   6      0.5       1
9    47     D   7      1.0       3
10   36     B   8     -9.0       4
11   38     C   9      1.5       2
12   38     C   9      1.5       2
13    6     A  10      1.0       2
14    6     A  10      1.0       2

In [3]:
#去掉重复
df_noDup = df.drop_duplicates()
print(df_noDup)

    Age Areas  ID  Package  SHabit
0    42     A   1      0.8       1
3    27     C   2     -9.0       4
4    38     A   3      1.0       4
5    30     D   4      0.2       1
6    50     B   5     -9.0       1
8   158     D   6      0.5       1
9    47     D   7      1.0       3
10   36     B   8     -9.0       4
11   38     C   9      1.5       2
13    6     A  10      1.0       2

In [4]:
#检查异常
print(df_noDup.describe())

print()
print(df_noDup)

print()#检查age>100或者<10的行 Package=-9的行
print()
print(df_noDup[df_noDup['Age']>100])
print(df_noDup[df_noDup['Age']<10])
print(df_noDup[df_noDup['Package']==-9])

print()#替换上述异常值 异常的年龄替换为缺失值，异常的Package替换为0（减少缺失值）
df_rep = df_noDup
df_rep['Age'] = df_noDup['Age'].replace([158,6],np.nan)
df_rep['Package'] = df_rep['Package'].replace(-9,0)
print(df_rep)

             Age        ID    Package     SHabit
count   10.00000  10.00000  10.000000  10.000000
mean    47.20000   5.50000  -2.100000   2.300000
std     40.83517   3.02765   4.773538   1.337494
min      6.00000   1.00000  -9.000000   1.000000
25%     31.50000   3.25000  -6.700000   1.000000
50%     38.00000   5.50000   0.650000   2.000000
75%     45.75000   7.75000   1.000000   3.750000
max    158.00000  10.00000   1.500000   4.000000

    Age Areas  ID  Package  SHabit
0    42     A   1      0.8       1
3    27     C   2     -9.0       4
4    38     A   3      1.0       4
5    30     D   4      0.2       1
6    50     B   5     -9.0       1
8   158     D   6      0.5       1
9    47     D   7      1.0       3
10   36     B   8     -9.0       4
11   38     C   9      1.5       2
13    6     A  10      1.0       2


   Age Areas  ID  Package  SHabit
8  158     D   6      0.5       1
    Age Areas  ID  Package  SHabit
13    6     A  10      1.0       2
    Age Areas  ID  Package  SHabit
3    27     C   2     -9.0       4
6    50     B   5     -9.0       1
10   36     B   8     -9.0       4

     Age Areas  ID  Package  SHabit
0   42.0     A   1      0.8       1
3   27.0     C   2      0.0       4
4   38.0     A   3      1.0       4
5   30.0     D   4      0.2       1
6   50.0     B   5      0.0       1
8    NaN     D   6      0.5       1
9   47.0     D   7      1.0       3
10  36.0     B   8      0.0       4
11  38.0     C   9      1.5       2
13   NaN     A  10      1.0       2

C:\Users\hndnkj\Anaconda3\lib\site-packages\ipykernel\__main__.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\hndnkj\Anaconda3\lib\site-packages\ipykernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [5]:
ctype = {'A':'U','B':'U','C':'U','D':'R'}
df_rep['ctype'] = df_rep['Areas'].map(ctype)
print(df_rep)

     Age Areas  ID  Package  SHabit ctype
0   42.0     A   1      0.8       1     U
3   27.0     C   2      0.0       4     U
4   38.0     A   3      1.0       4     U
5   30.0     D   4      0.2       1     R
6   50.0     B   5      0.0       1     U
8    NaN     D   6      0.5       1     R
9   47.0     D   7      1.0       3     R
10  36.0     B   8      0.0       4     U
11  38.0     C   9      1.5       2     U
13   NaN     A  10      1.0       2     U

C:\Users\hndnkj\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [7]:
df_rep['ageGroup'] = pd.qcut(df_rep['Age'],2,labels=[0,1])
print(df_rep)

     Age Areas  ID  Package  SHabit ctype ageGroup
0   42.0     A   1      0.8       1     U      1.0
3   27.0     C   2      0.0       4     U      0.0
4   38.0     A   3      1.0       4     U      0.0
5   30.0     D   4      0.2       1     R      0.0
6   50.0     B   5      0.0       1     U      1.0
8    NaN     D   6      0.5       1     R      NaN
9   47.0     D   7      1.0       3     R      1.0
10  36.0     B   8      0.0       4     U      0.0
11  38.0     C   9      1.5       2     U      0.0
13   NaN     A  10      1.0       2     U      NaN

C:\Users\hndnkj\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [23]:
dummies = pd.get_dummies(df_rep['SHabit'],prefix = 'SHabit')
pd.concat([df_rep,dummies],axis = 1)

,Age,Areas,ID,Package,SHabit,ctype,ageGroup,SHabit_1,SHabit_2,SHabit_3,SHabit_4
0,42.0,A,1,0.8,1,U,1.0,1,0,0,0
3,27.0,C,2,0.0,4,U,0.0,0,0,0,1
4,38.0,A,3,1.0,4,U,0.0,0,0,0,1
5,30.0,D,4,0.2,1,R,0.0,1,0,0,0
6,50.0,B,5,0.0,1,U,1.0,1,0,0,0
8,NaN,D,6,0.5,1,R,NaN,1,0,0,0
9,47.0,D,7,1.0,3,R,1.0,0,0,1,0
10,36.0,B,8,0.0,4,U,0.0,0,0,0,1
11,38.0,C,9,1.5,2,U,0.0,0,1,0,0
13,NaN,A,10,1.0,2,U,NaN,0,1,0,0

In [37]:
dates = pd.date_range('20170914',periods=7)
print(dates)
print(type(dates))

DatetimeIndex(['2017-09-14', '2017-09-15', '2017-09-16', '2017-09-17',
               '2017-09-18', '2017-09-19', '2017-09-20'],
              dtype='datetime64[ns]', freq='D')
<class 'pandas.tseries.index.DatetimeIndex'>

In [32]:
from datetime import datetime as dt

In [38]:
def parse_date(date):
    if date=="":
        return None
    else:
        return dt.strptime(date,'%Y-%m-%d')
print(parse_date("20170101"))

TypeError: strptime() takes exactly 2 arguments (1 given)