In [1]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np

In [7]:
# rank
df = DataFrame({'col1':[3,2,6],'col2':[4,7,1],'col3':[8,0,1]},index = ['row1','row2','row3'])

print(df)
print()

for col in df.columns:
    print(df[col].rank(method='max'))
    print()

      col1  col2  col3
row1     3     4     8
row2     2     7     0
row3     6     1     1

row1    2.0
row2    1.0
row3    3.0
Name: col1, dtype: float64

row1    2.0
row2    3.0
row3    1.0
Name: col2, dtype: float64

row1    3.0
row2    1.0
row3    2.0
Name: col3, dtype: float64

In [10]:
print(df)

dict = {'col1':'col11','col2':'col22','col3':'col33'}
df.rename(columns = dict)

      col1  col2  col3
row1     3     4     8
row2     2     7     0
row3     6     1     1

      col11  col22  col33
row1      3      4      8
row2      2      7      0
row3      6      1      1

In [16]:
print(df)
print()
print((df == 1).sum(axis = 1))
print()
print((df == 2).sum(axis = 1))

      col1  col2  col3
row1     3     4     8
row2     2     7     0
row3     6     1     1

row1    0
row2    0
row3    2
dtype: int64

row1    0
row2    1
row3    0
dtype: int64