In [1]:
import numpy as np
from pandas import DataFrame,Series

In [2]:
df = DataFrame([list("ABCDZ"),list("EAGHY"), list("IJKLA")], columns = ["h1","h2","h3","h4", "h5"])
print(df)

  h1 h2 h3 h4 h5
0  A  B  C  D  Z
1  E  A  G  H  Y
2  I  J  K  L  A

In [3]:
df1 = DataFrame(np.arange(16).reshape([4,4]),columns=['col1','col2','col3','col4'],index=['row1','row2','row3','row4'])
print(df1)

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [24]:
#apply
format = lambda x:x+2
print(df1.apply(format))
print()
print(df1.col1.apply(format))

def fun(x):
    return x+111
def f(x):
    return x.max()

print()
print(df1[1:2].apply(fun))

print('df:')
print(df1)
print('行最大')
print(df1.apply(f,axis=1))

print()
print(df1[:2].apply(f))

      col1  col2  col3  col4
row1     2     3     4     5
row2     6     7     8     9
row3    10    11    12    13
row4    14    15    16    17

row1     2
row2     6
row3    10
row4    14
Name: col1, dtype: int64

      col1  col2  col3  col4
row2   115   116   117   118
df:
      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
行最大
row1     3
row2     7
row3    11
row4    15
dtype: int64

col1    4
col2    5
col3    6
col4    7
dtype: int64

In [36]:
#区分loc iloc ix ；df.col1 df['col1'] df[1:2]
print(df1)

print()
print(df1.ix['row1'])

print()
print(df1.ix[0])

print(df1.iloc[0])

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32

col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32
col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32

In [42]:
#Series的str字符串方法
s = Series(['haha','hehe','heihei'],index=['row1','row2','row3'])
print(s)

print()
print(s.str.replace('heihei','hfhf'))

row1      haha
row2      hehe
row3    heihei
dtype: object

row1    haha
row2    hehe
row3    hfhf
dtype: object

In [61]:
import pandas as pd
print(df1)

print()#定义一列然后合并 concat 需要指定axis
col5 = Series([11,22,33,44],index = ['row1','row2','row3','row4'])
df2 = DataFrame(col5,columns=['col5'])
print(pd.concat([df1,df2],axis=1))

print()#定义一行然后合并concat
row5 = DataFrame(np.arange(4).reshape([1,4]),columns=['col1','col2','col3','col4'],index=['row5'])
print(row5)
print()
print(pd.concat([df1,row5]))

print()#定义一行然后合并append
print(df1.append(row5))

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

      col1  col2  col3  col4  col5
row1     0     1     2     3    11
row2     4     5     6     7    22
row3     8     9    10    11    33
row4    12    13    14    15    44

      col1  col2  col3  col4
row5     0     1     2     3

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5     0     1     2     3
      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5     0     1     2     3

In [70]:
# 分组groupby
print(df1)
col5 = Series(['one','one','two','two'],index = ['row1','row2','row3','row4'])
df2 = DataFrame(col5,columns=['col5'])
df3 = pd.concat([df1,df2],axis=1)
print(df3)

print()
group = df3.groupby(['col5'])
print([x for x in group])
print('------- grout sum -------------')
print(group.sum())

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
      col1  col2  col3  col4 col5
row1     0     1     2     3  one
row2     4     5     6     7  one
row3     8     9    10    11  two
row4    12    13    14    15  two

[('one',       col1  col2  col3  col4 col5
row1     0     1     2     3  one
row2     4     5     6     7  one), ('two',       col1  col2  col3  col4 col5
row3     8     9    10    11  two
row4    12    13    14    15  two)]
------- grout sum -------------
      col1  col2  col3  col4
col5
one      4     6     8    10
two     20    22    24    26

In [79]:
# stack
print(df1)
print(df1.stack())

dft = df1.T
print()
print(dft[0:1])

print()
df4 = DataFrame(Series([1,2,3,4],index=['row1','row2','row3','row4']),columns=['col'])
print(df4)
print()
df5 = df4.stack()
print(df5)

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row1  col1     0
      col2     1
      col3     2
      col4     3
row2  col1     4
      col2     5
      col3     6
      col4     7
row3  col1     8
      col2     9
      col3    10
      col4    11
row4  col1    12
      col2    13
      col3    14
      col4    15
dtype: int32

      row1  row2  row3  row4
col1     0     4     8    12

      col
row1    1
row2    2
row3    3
row4    4

row1  col    1
row2  col    2
row3  col    3
row4  col    4
dtype: int64

In [99]:
# reshape 重塑
df4 = DataFrame({'Item':['item0','item0','item1','item1'],'CType':['Gold','Bronze','Gold','Silver'],'USD':['1$','2$','3$','4$'],
                        'EU':['1e','2e','3e','4e']},index=['row0','row1','row2','row3'])
print(df4)

print()#重塑表
d = df4.pivot(index='Item',columns='CType',values='USD')
print(d)

print()
print(df4[(df4.Item=='item0')&(df4.CType=='Gold')].USD.values)#df4[] d[] 都是行切片方式，在[]里为选取某行的条件
print(d[d.index=='item0'].Gold.values)
print(df4[df4.index=='row2'].CType.values)

print()#重塑表
dd = df4.pivot(index='Item',columns='CType')
print(dd)

print()
print(df4[(df4.Item=='item0')&(df4.CType=='Gold')].USD.values)
print(dd.USD[dd.USD.index=='item0'].Gold.values)
#pivot_table可以汇总重复条目的数据

print()
print(dd)
print('------- stack ----------')
print(dd.stack())

print()
print(d)
print('------- stack -----------')
print(d.stack())

       CType  EU   Item USD
row0    Gold  1e  item0  1$
row1  Bronze  2e  item0  2$
row2    Gold  3e  item1  3$
row3  Silver  4e  item1  4$

CType Bronze Gold Silver
Item
item0     2$   1$   None
item1   None   3$     4$

['1$']
['1$']
['Gold']

          EU                USD
CType Bronze Gold Silver Bronze Gold Silver
Item
item0     2e   1e   None     2$   1$   None
item1   None   3e     4e   None   3$     4$

['1$']
['1$']

          EU                USD
CType Bronze Gold Silver Bronze Gold Silver
Item
item0     2e   1e   None     2$   1$   None
item1   None   3e     4e   None   3$     4$
------- stack ----------
              EU USD
Item  CType
item0 Bronze  2e  2$
      Gold    1e  1$
item1 Gold    3e  3$
      Silver  4e  4$

CType Bronze Gold Silver
Item
item0     2$   1$   None
item1   None   3$     4$
------- stack -----------
Item   CType
item0  Bronze    2$
       Gold      1$
item1  Gold      3$
       Silver    4$
dtype: object

In [110]:
# 分类变量
print(df4)

print()
#转某一列为分类变量
df4['CType_new'] = df4['CType'].astype('category')
print(df4['CType_new'])
#补全某一列的分类变量
df4['CType_new'].cat.categories=['e','a','c']
df4['CType_new'].cat.set_categories(['a','b','c','d','e'])
print()
print(df4['CType_new'])

       CType  EU   Item USD CType_new
row0    Gold  1e  item0  1$      Gold
row1  Bronze  2e  item0  2$    Bronze
row2    Gold  3e  item1  3$      Gold
row3  Silver  4e  item1  4$    Silver

row0      Gold
row1    Bronze
row2      Gold
row3    Silver
Name: CType_new, dtype: category
Categories (3, object): [Bronze, Gold, Silver]

row0    a
row1    e
row2    a
row3    c
Name: CType_new, dtype: category
Categories (3, object): [e, a, c]