In [2]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np

In [3]:
df = DataFrame({'col1':[' a ','b  '],'col2':['1:2','2:3']},index=['row1','row2'])
print(df)

     col1 col2
row1   a   1:2
row2  b    2:3

In [6]:
# 去除空白
df['col1'] = df['col1'].map(str.strip)
print(df)
print(df.loc['row1','col1'])

     col1 col2
row1    a  1:2
row2    b  2:3
a

In [11]:
# 分列
col2 = pd.DataFrame((x.split(":") for x in df.col2),index=df.index,columns=['col3','col4'])
print(col2)
print(pd.concat([df,col2],axis=1))

     col3 col4
row1    1    2
row2    2    3
     col1 col2 col3 col4
row1    a  1:2    1    2
row2    b  2:3    2    3

In [69]:
# 多选转为哑变量
df_mul = DataFrame({'col_mul':['1,2','1,3','2,3','2','2,3','1,4','1,2','3,4','3,4','2,4']})
print(df_mul)

print()
df_mul['col1'] = df_mul['col_mul'].str.contains('1')
df_mul['col2'] = df_mul['col_mul'].str.contains('2')
df_mul['col3'] = df_mul['col_mul'].str.contains('3')
df_mul['col4'] = df_mul['col_mul'].str.contains('4')
print(df_mul)

print()
print(df_mul['col1'].astype(dtype=np.int8))
print()
df_mul.loc[:,['col1','col2','col3','col4']].apply(lambda x:x.astype(np.int8))

  col_mul
0     1,2
1     1,3
2     2,3
3       2
4     2,3
5     1,4
6     1,2
7     3,4
8     3,4
9     2,4

  col_mul   col1   col2   col3   col4
0     1,2   True   True  False  False
1     1,3   True  False   True  False
2     2,3  False   True   True  False
3       2  False   True  False  False
4     2,3  False   True   True  False
5     1,4   True  False  False   True
6     1,2   True   True  False  False
7     3,4  False  False   True   True
8     3,4  False  False   True   True
9     2,4  False   True  False   True

0    1
1    1
2    0
3    0
4    0
5    1
6    1
7    0
8    0
9    0
Name: col1, dtype: int8

   col1  col2  col3  col4
0     1     1     0     0
1     1     0     1     0
2     0     1     1     0
3     0     1     0     0
4     0     1     1     0
5     1     0     0     1
6     1     1     0     0
7     0     0     1     1
8     0     0     1     1
9     0     1     0     1