In [9]:
from pandas import DataFrame,Series
import pandas as pd
import numpy as np

In [10]:
df = DataFrame(np.arange(16).reshape([4,4]),index=['row1','row2','row3','row4'],columns=['col1','col2','col3','col4'])
print(df)

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

In [25]:
#选取某一行
print(df[0:1])
print(df.loc['row1',:])
print(df.iloc[0,:])
print(df.ix[0])

#选取某一列
print()
print(df['col1'])
print(df.loc[:,'col1'])
print(df.iloc[:,0])

#选取某一点
print()
print(df.at['row1','col1'])
print(df.iat[0,0])

#选取某一块
print()
print(df.loc[['row1','row2'],['col1','col2']])
print(df.iloc[[0,1],[0,1]])

#条件选取某一行
print()
print(df[df.col1.isin([0,4])])
print(df[df>6])

      col1  col2  col3  col4
row1     0     1     2     3
col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32
col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32
col1    0
col2    1
col3    2
col4    3
Name: row1, dtype: int32

row1     0
row2     4
row3     8
row4    12
Name: col1, dtype: int32
row1     0
row2     4
row3     8
row4    12
Name: col1, dtype: int32
row1     0
row2     4
row3     8
row4    12
Name: col1, dtype: int32

0
0

      col1  col2
row1     0     1
row2     4     5
      col1  col2
row1     0     1
row2     4     5

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
      col1  col2  col3  col4
row1   NaN   NaN   NaN   NaN
row2   NaN   NaN   NaN   7.0
row3   8.0   9.0  10.0  11.0
row4  12.0  13.0  14.0  15.0

In [65]:
print(df)

print()
print(df.describe())

#求均值
print()
print(df.mean())
print(df.mean(1))

#求max
print()
print(df.col1.max())

# apply
format = lambda x:x+1
print(df[0:1].apply(format))
def fun(x):
    return x+1
print(df.col1.apply(fun))

# concat
print()
col5 = DataFrame({'col5':[11,22,33,44]},index=['row1','row2','row3','row4'])
print('---------------')
print(col5)
print(pd.concat([df,col5],axis=1))
row5 = DataFrame({'col1':111,'col2':222,'col3':3333,'col4':444},index=['row5'])
print('---------------')
print(row5)
print(df.append(row5))

#groupby
print()
col5 = DataFrame({'col5':['class1','class1','class2','class2']},index=['row1','row2','row3','row4'])
df1 = pd.concat([df,col5],axis=1)
print(df1)
print('------------------')
group = df1.groupby(df1.col5)
print([x for x in group])

      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15

            col1       col2       col3       col4
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

col1    6.0
col2    7.0
col3    8.0
col4    9.0
dtype: float64
row1     1.5
row2     5.5
row3     9.5
row4    13.5
dtype: float64

12
      col1  col2  col3  col4
row1     1     2     3     4
row1     1
row2     5
row3     9
row4    13
Name: col1, dtype: int64

---------------
      col5
row1    11
row2    22
row3    33
row4    44
      col1  col2  col3  col4  col5
row1     0     1     2     3    11
row2     4     5     6     7    22
row3     8     9    10    11    33
row4    12    13    14    15    44
---------------
      col1  col2  col3  col4
row5   111   222  3333   444
      col1  col2  col3  col4
row1     0     1     2     3
row2     4     5     6     7
row3     8     9    10    11
row4    12    13    14    15
row5   111   222  3333   444

      col1  col2  col3  col4    col5
row1     0     1     2     3  class1
row2     4     5     6     7  class1
row3     8     9    10    11  class2
row4    12    13    14    15  class2
------------------
[('class1',       col1  col2  col3  col4    col5
row1     0     1     2     3  class1
row2     4     5     6     7  class1), ('class2',       col1  col2  col3  col4    col5
row3     8     9    10    11  class2
row4    12    13    14    15  class2)]